.shedule {
    width: 98%;
    margin: 50px 20px;
    border-collapse: collapse;
    font-family: 'Merriweather', 'Merriweather', serif;
}

.shedule tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 21px;
    text-align: left;
    color: aliceblue;
    font-size: 26px;
}



@media screen and (max-width: 1080px){
    .shedule {
        margin: 50px 10px;
    }
}

