.shedule {
    width: 98%;
    margin: 50px 20px;
    border-collapse: collapse;
    font-family: 'Merriweather', 'Merriweather', serif;
}

.shedule tr > th, td {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: aliceblue;
    font-size: 26px;
}

.headerTitle {
    font-weight: bold;
    color: #FFDB00;
    letter-spacing: 6px;
    font-size: 50px;
    margin: 0;
}


