tr > td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-size: 19px;
    font-weight: bold;
    border-top: 2px solid white;;
}



.arrived {
    color: forestgreen;
}

.determinate {
    color: red;
}

.terminal {
    display: inline-block;
    color: #FFDB00;
    border: 1px solid #FFDB00 ;
    border-radius: 50%;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    font-weight: 700;
}

.terminal_f {
    display: inline-block;
    color: #63c745;
    border: 1px solid #63c745 ;
    border-radius: 50%;
    width: 30px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
    font-weight: 700;
}
