.widget {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-family: 'Merriweather', 'Merriweather', serif;
}

.temp {
    position: relative;
    display: flex;
    font-size: 45px;
    color: white;
}

.icon {
    position: absolute;
    top: -23px;
    left: 76px;
    width: 75px;
    height: 75px;
}

.temp span {
    font-size: 21px;
}

.date {
    color: white;
    margin-top: 10px;
    font-size: 26px;
    text-align: left;
}

.date:first-letter {
    display: inline-block;
    text-transform: uppercase;
}
