.widget {
    display: flex;
    width: 300px;
    font-family: 'Merriweather', 'Merriweather', serif;
}

.icon {
    margin-left: 15px;
    display: flex;
    justify-content: flex-end;
}

.icon img {
    width: 150px;
}

.temp {
    font-size: 45px;
    color: white;
}

.city {
    color: white;
    font-size: 35px;
}
