.header {
    display: flex;
    padding: 40px 30px;
    font-family: 'Merriweather', serif;
    margin: 0;
}

.headerIcon {
    border-radius: 50%;
    background-color: #FFDB00;
}

.airplaneIcon {
    width: 50px;
    height: 50px;
}


